[Unit]
Description=PulseAudio Daemon

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/bin/pulseaudio --system

[Install]
WantedBy=multi-user.target
