[Unit]
Description=PulseAudio Daemon

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/bin/pulseaudio --disallow-exit --log-target=journal --realtime=false --resample-method=soxr-vhq --system

[Install]
WantedBy=multi-user.target
